{% extends 'base.html' %}
{% block head %}
     {% if item != None %}
        <title>{{ item.name }}-Programming Datbase</title>
        {% else %}
        <title>Invalid Item - Programming Database</title>
    {% endif %}
{% endblock %}
{% block body %}
    {% if item != None %}
    <a href="{% url 'index' %}">Back</a>
    <h3>{{ item.name }}</h3>
     <h5>{{ item.category }}</h5>
    <p>{{ item.description }}</p>
        {% if item.image != None %}
        <img src = {{  item.image.url  }}>
            {% endif %}
    {% else %}
    <h3>Invalid Item id</h3>
{% endif %}
{% endblock %}
